* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sudoku-board{
    display: grid;
    grid-template-columns: repeat(9, 70px);
    grid-template-rows: repeat(9, 70px);
    background-color: #227a4c;
    border: 3.5px solid #227a4c;
}

.cell{
    width: 70px;
    height: 70px;
    background-color: #fff;
    border: 1px solid #227a4c5c;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #4c8166;
}

.cell[data-column="3"], .cell[data-column="6"]{ 
    border-right-width: 3px; 
    border-right-color: #227a4c; 
}

.cell[data-row="3"], .cell[data-row="6"]{
    border-bottom-width: 3px;
    border-bottom-color: #227a4c; 
}

.cell-shining{
    background-color: #bee7d1;
}

.btn{
    font-size: 1.3em;
    padding: 10px;
    margin: 10px;
}
