* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

html, body {
    font-family: "Inter", serif;
    width: 100%;
    height: 100%;
}

header{
    height: 3em;
    width: 100%;
}

#ancora {
    position: relative;
    top: 50px;
    height: 10px;
}

button {
    transition: .6s;
    cursor: pointer;
    color: rgba(191, 205, 197, 1);
}

button:hover {
    color: white;
}

nav{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #227a4c;
}

a {
    color: rgba(191, 205, 197, 1);
    text-decoration: none;
    transition: .6s;
}

a:hover {
    color: #fff;
}

.nav-item {
    display: inline;
    padding: 0 0 0 2em;
    white-space: nowrap;
}

.nav-list {
    width: 100%;
    display: flex;
    justify-content: right;
    padding-right: 1em;
}

main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 3em;
}

#sessao-play {
    width: 100%;
    height: 100vh;
    border-bottom: 1px solid #227a4c;
}

.icon-title {
    width: 30px;
    height: 30px;
}

.title {
    text-align: center;
    position: relative;
    top: 10%;
}

.title h1{
    font-size: 3em;
    color: #227a4c;
    text-shadow: 2px 1px 1px #1a5536;

}

.title p {
    font-size: 1em;
    color: #1a5536;
}

#sessao-play button {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 10%;
    border: 1px solid white;
    box-shadow: 1px 2px 2px rgba(94, 175, 113, 0.301);
    border-radius: 10px;
    font-size: 1.5em;
    color: rgba(191, 205, 197, 1);
    background-color: #227a4c;
}

#sessao-play button:hover {
    color: #fff;
}

#tabuleiro {
    display: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    right: 3%;
}

#sessao-btn {
    display: flex;
    flex-direction: column;
    order: -1;
}

#sessao-num{
    margin-left: 15px;
}

#apagar {
    background-image: url('images/borracha-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-size: 50%;
}

/*Parte do código referente aos textos do começo do site: Sobre, como jogar e etc...*/
.sobre {
    width: 60%;
    line-height: 1.6;
    font-size: 1em;
    color: #0000009d;
    padding: 10%;
}

.sobre ul {
    margin-bottom: 20px;
}

.sobre h2{
    font-size: 2em;
    color: #227a4c;
}

.sobre h3{
    color: #5c8a73;
}

.sobre p, .sobre li {
    margin-bottom: 20px;
}

.num{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    width: 4vw;
    height: 8vh;
    border: 1px solid #227a4c;
    margin: 1px 2px 2px 1px;
    background-color: #2e7750;
    border-radius: 10%;
}

.sudoku-board{
    display: grid;
    grid-template-columns: repeat(9, .8fr);
    grid-template-rows: repeat(9, .8fr);
    background-color: #227a4c;
    border: 3.5px solid #227a4c;
}

.cell{
    background-color: #fff;
    border: 1px solid #227a4c5c;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    width: 5vw;
    height: 10vh;
    color: #72b492;
}

.cell[data-column="3"], .cell[data-column="6"]{ 
    border-right-width: 3px; 
    border-right-color: #227a4c; 
}

.cell[data-row="3"], .cell[data-row="6"]{
    border-bottom-width: 3px;
    border-bottom-color: #227a4c; 
}

.cell-shining{
    background-color: #bee7d1;
}

.cell-correct{
    color: #227a4c;
}

.cell-incorrect{
    color: #ed6a6a;
}

.selected{
    background-color: #227a4c;
    border: 1px solid #fff;
    color: #fff;
}

.cell-selected{
    background-color: #80a491;
}

.btn{
    background-color: #227a4c;
    color: rgba(191, 205, 197, 1);
    border-radius: 5px;
    font-size: 1.2em;
    padding: 10px;
    margin: 10px;
    white-space: nowrap;
    border: none;
}
